.dw-tooltip {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    background: white;
    max-width: 200px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.1);
    padding: 10px;
    font-size: 11px;
    border: 1px solid whitesmoke;

    h2 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 13px;
    }

    table {
        border-spacing: 0;
    }

    td, th {
        text-align: left;
        padding: 0 5px 3px 0;
    }

    ul, ol { 
        padding-left: 15px;
        li { margin-bottom: 2px; }
    }
}
