{% if option.type == 'custom-tooltip' %}


    <style type="text/css">
    .vis-option-type-custom-tooltip h2 {
        font-weight: 300;
        margin-top: 0;
    }
    .vis-option-type-custom-tooltip .column {
        display: inline-block;
        vertical-align: top;
    }

    .visconfig .vis-option-type-custom-tooltip input.title[type=text],
    .visconfig .vis-option-type-custom-tooltip textarea.body {
        width: 325px;
        font-family: monospace;
        font-size: 12px;
        line-height: 18px;
    }
    .vis-option-type-custom-tooltip .modal {
        width: 640px;
        margin-left: -320px;
    }
    .vis-option-type-custom-tooltip .fields li {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #fff;
        background: #355C98;
        padding: 2px 5px;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        margin-right: 5px;
    }
    .vis-option-type-custom-tooltip .fields li:hover {
        background: #006dcc;
    }
    .form-horizontal .vis-option-type-custom-tooltip.control-group {
        margin-bottom: 5px;
    }
    </style>
    <div class="control-group vis-option-type-custom-tooltip">

        <button class="btn" id="custom-tooltip-btn-{{ key }}"><i class="fa fa-comment"></i> {{ option.label }}</button>

        <div class="modal hide" id="custom-tooltip-modal-{{ key }}">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2>{% trans "customize tooltips" %}</h2>
                <div class="column">
                    <div class="form">
                        <label>{% trans "title" %}</label>
                        <input class="title" type="text" value="" /><br>
                        <label style="margin-top:10px">{% trans "body" %}</label>
                        <textarea rows="10" class="body"></textarea>
                    </div>
                </div>
                <div class="column" style="width:230px;margin-left:15px">
                    <ul class="fields unstyled"></ul>
                    <p>{% trans "field help" %}</p>
                </div>
                <div style="margin-top:15px">
                    <button class="store btn btn-primary">{% trans "save" %}</button>
                </div>
            </div>
        </div>

    </div>

{% endif %}
